<!doctype html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <h1>Welcome to My Website</h1>
    {% if authenticated %}
    <h1> Olá {{user.name}}! </h1>
    {% else %}
    <h1> Olá Visitante! </h1>
    {% endif %}

    <ul>
        <li><a href="{% url 'signin' %}">Sign In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% if authenticated %}
        <li><a href="{% url 'signout' %}">Signout</a></li>
        {% endif %}
    </ul>

  </body>
</html>
